<!doctype html>
<html  lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>基本设置</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/public/css/weui.css" />
    <link rel="stylesheet" href="/public/css/weui2.css" />
    <link rel="stylesheet" href="/public/css/slider.css" />
    <script src="/public/js/zepto.min.js"></script>
    <script src="/public/js/picker.js"></script>
    <script src="/public/js/RangeSlider.js"></script>
    <script>
        $(function () {
            $("#selectshowtype").picker({
                title: "选择循环模式",
                toolbarCloseText: '确定',
                cols: [
                    {
                        textAlign: 'center',
                        values: ["固定", "循环"],
                        displayValues: ['固定', '循环'],
                    }
                ]
            });

            $("#selecttestmode").picker({
                title: "选择测试模式",
                toolbarCloseText: '确定',
                cols: [
                    {
                        textAlign: 'center',
                        values: ["产品", "测试"],
                        displayValues: ['产品', '测试'],
                    }
                ]
            });
            
            $("#selectshowtype").val("{{basicres.showtype}}");
            $("#selecttestmode").val("{{basicres.testmode}}");
            
            $("#rangerl1").val("{{basicres.l1}}");
            $("#rangerl2").val("{{basicres.l2}}");
            $("#rangerl3").val("{{basicres.l3}}");
            $("#rangerl4").val("{{basicres.l4}}");
            $("#rangerl5").val("{{basicres.l5}}");
            $("#rangerl6").val("{{basicres.l6}}");
            $("#rangerl7").val("{{basicres.l7}}");
            
            $("#txtl1").val("{{basicres.l1}}");
            $("#txtl2").val("{{basicres.l2}}");
            $("#txtl3").val("{{basicres.l3}}");
            $("#txtl4").val("{{basicres.l4}}");
            $("#txtl5").val("{{basicres.l5}}");
            $("#txtl6").val("{{basicres.l6}}");
            $("#txtl7").val("{{basicres.l7}}");
        });
        
    </script>
</head>
    <script type="text/javascript">
        let signature = '{{ machineinfo.signature }}';
        let nonceStr = '{{ machineinfo.noncestr }}';
        let timestamp = '{{ machineinfo.timestamp }}';
        let appId = '{{ machineinfo.appId }}';
        let jsapi_ticket = '{{ machineinfo.jsapi_ticket }}';
    </script>
    <div class="page-hd">
        <h1 class="page-hd-title">
            基本设置
        </h1>
        <p class="page-hd-desc">在此可设置固定模式时的亮度;亮度范围(0-100%)</p>        
    </div>
    <form id="form">
        <div class="weui_cells weui_cells_form ">

            <div class="weui_cell">
                <div class="weui_cell_hd"><label for="" class="weui_label">循环模式:</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="text" value="" id='selectshowtype' />
                </div>
            </div>

            <div class="weui_cell">
                <div class="weui_cell_hd"><label for="" class="weui_label">是否测试:</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="text" value="" id='selecttestmode' />
                </div>
            </div>
            
            <div class="weui_cell">
                <div class="weui_cell_hd"><label for="" class="weui_label">第一排:</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                        <input type="range" name="points" min="0" max="100" step="any" id="rangerl1" />
                        <input type="number" onchange="txtl1change();" id="txtl1" style="width:30px; height:20px; text-align:center; vertical-align:-webkit-baseline-middle" />
                </div>
            </div>
            <div class="weui_cell">
                    <div class="weui_cell_hd"><label for="" class="weui_label">第二排:</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                            <input type="range" name="points" min="0" max="100" step="any" id="rangerl2" />
                            <input type="number" onchange="txtl2change();"  id="txtl2" style="width:30px; height:20px; text-align:center; vertical-align:-webkit-baseline-middle" />
                    </div>
            </div>
            <div class="weui_cell">
                    <div class="weui_cell_hd"><label for="" class="weui_label">第三排:</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                            <input type="range" name="points" min="0" max="100" step="any" id="rangerl3" />
                            <input type="number" onchange="txtl3change();"  id="txtl3" style="width:30px; height:20px; text-align:center; vertical-align:-webkit-baseline-middle" />
                    </div>
            </div>
            <div class="weui_cell">
                    <div class="weui_cell_hd"><label for="" class="weui_label">第四排:</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                            <input type="range" name="points" min="0" max="100" step="any" id="rangerl4" />
                            <input type="number" onchange="txtl4change();"  id="txtl4" style="width:30px; height:20px; text-align:center; vertical-align:-webkit-baseline-middle" />
                    </div>
            </div>
            <div class="weui_cell">
                    <div class="weui_cell_hd"><label for="" class="weui_label">第五排:</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                            <input type="range" name="points" min="0" max="100" step="any" id="rangerl5" />
                            <input type="number" onchange="txtl5change();"  id="txtl5" style="width:30px; height:20px; text-align:center; vertical-align:-webkit-baseline-middle" />
                    </div>
            </div>
            <div class="weui_cell">
                    <div class="weui_cell_hd"><label for="" class="weui_label">第六排:</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                            <input type="range" name="points" min="0" max="100" step="any" id="rangerl6" />
                            <input type="number" onchange="txtl6change();"  id="txtl6" style="width:30px; height:20px; text-align:center; vertical-align:-webkit-baseline-middle" />
                    </div>
            </div>
            <div class="weui_cell">
                    <div class="weui_cell_hd"><label for="" class="weui_label">第七排:</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                            <input type="range" name="points" min="0" max="100" step="any" id="rangerl7" />
                            <input type="number" onchange="txtl7change();"  id="txtl7" style="width:30px; height:20px; text-align:center; vertical-align:-webkit-baseline-middle" />
                    </div>
            </div>
        </div>

        <div class="weui_btn_area">
            <a id="btnsave" class="weui_btn weui_btn_primary" onclick="save();">保存</a>
        </div>
    </form>
    
    <script>
       $.fn.RangeSlider = function (cfg) {
            this.sliderCfg = {
                min: cfg && !isNaN(parseFloat(cfg.min)) ? Number(cfg.min) : null,
                max: cfg && !isNaN(parseFloat(cfg.max)) ? Number(cfg.max) : null,
                step: cfg && Number(cfg.step) ? cfg.step : 1,
                callback: cfg && cfg.callback ? cfg.callback : null
            };

            var $input = $(this);
            var min = this.sliderCfg.min;
            var max = this.sliderCfg.max;
            var step = this.sliderCfg.step;
            var callback = this.sliderCfg.callback;

            $input.attr('min', min)
                .attr('max', max)
                .attr('step', step);

            $input.bind("input", function (e) {
                $input.attr('value', this.value);
                $input.css('background-size', this.value * 100.0 / max + '% 100%');

                if ($.isFunction(callback)) {
                    callback(this);
                }
            });
        };

        

        var change1 = function ($input) {
            $("#txtl1").val($input.value);
        }
        var change2 = function ($input) {
            $("#txtl2").val($input.value);
        }
        var change3 = function ($input) {
            $("#txtl3").val($input.value);
        }
        var change4 = function ($input) {
            $("#txtl4").val($input.value);
        }
        var change5 = function ($input) {
            $("#txtl5").val($input.value);
        }
        var change6 = function ($input) {
            $("#txtl6").val($input.value);
        }
        var change7 = function ($input) {
            $("#txtl7").val($input.value);
        }

        function txtl1change() {
            let val = $("#txtl1").val();
            $("#rangerl1").val(val);
        }

        function txtl2change() {
            let val = $("#txtl2").val();
            $("#rangerl2").val(val);
        }

        function txtl3change() {
            let val = $("#txtl3").val();
            $("#rangerl3").val(val);
        }

        function txtl4change() {
            let val = $("#txtl4").val();
            $("#rangerl4").val(val);
        }

        function txtl5change() {
            let val = $("#txtl5").val();
            $("#rangerl5").val(val);
        }

        function txtl6change() {
            let val = $("#txtl6").val();
            $("#rangerl6").val(val);
        }

        function txtl7change() {
            let val = $("#txtl7").val();
            $("#rangerl7").val(val);
        }

        function save() {
            let openid = "{{basicres.openid}}";
            let showtype = $("#selectshowtype").val() == "循环"?"repeat":"fix";
            let testmode = $("#selecttestmode").val()=="测试"?"test":"production";
            let l1 = $("#txtl1").val();
            let l2 = $("#txtl2").val();
            let l3 = $("#txtl3").val();
            let l4 = $("#txtl4").val();
            let l5 = $("#txtl5").val();
            let l6 = $("#txtl6").val();
            let l7 = $("#txtl7").val();
            
            let params = {
                openid:openid,
                showtype:showtype,
                testmode:testmode,
                l1:l1,
                l2:l2,
                l3:l3,
                l4:l4,
                l5:l5,
                l6:l6,
                l7:l7
            }

            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/updatebasicinfo",
                data: JSON.stringify(params),
                dataType: "json",
                beforeSend: function(XMLHttpRequest) {
                   
                },
                success: (res) =>{
                    if(res) {
                        $.ajax({
                            type: "POST",
                            contentType: "application/json",
                            url: "/updatefixlight",
                            data: JSON.stringify(params),
                            dataType: "json",
                            beforeSend: function() {
                                
                            },
                            success: (res) =>{
                                if(res) {
                                    alert("保存成功");
                                }
                            }
                        });
                    }
                }
            })

        }

        $('#rangerl1').RangeSlider({ min: 0, max: 100, step: 1, callback: change1 });
        $('#rangerl2').RangeSlider({ min: 0, max: 100, step: 1, callback: change2 });
        $('#rangerl3').RangeSlider({ min: 0, max: 100, step: 1, callback: change3 });
        $('#rangerl4').RangeSlider({ min: 0, max: 100, step: 1, callback: change4 });
        $('#rangerl5').RangeSlider({ min: 0, max: 100, step: 1, callback: change5 });
        $('#rangerl6').RangeSlider({ min: 0, max: 100, step: 1, callback: change6 });
        $('#rangerl7').RangeSlider({ min: 0, max: 100, step: 1, callback: change7 });
    </script>
</body>

</html>