<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>循环设置</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/public/css/weui.css" />
    <link rel="stylesheet" href="/public/css/weui2.css" />
    <script src="/public/js/zepto.min.js"></script>
    <script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/series-label.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/oldie.js"></script>
    <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
    <link rel="stylesheet" href="/public/css/slider.css" />
    <script src="/public/js/zepto.min.js"></script>
    <script src="/public/js/picker.js"></script>
    <script src="/public/js/RangeSlider.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" />
</head>

<body ontouchstart style="background-color: #f8f8f8;">
    <script type="text/javascript">
        let signature = '{{ machineinfo.signature }}';
        let nonceStr = '{{ machineinfo.noncestr }}';
        let timestamp = '{{ machineinfo.timestamp }}';
        let appId = '{{ machineinfo.appId }}';
        let jsapi_ticket = '{{ machineinfo.jsapi_ticket }}';
    </script>
    <div class="page-hd">
        <h1 class="page-hd-title">
            循环设置
        </h1>
        <p class="page-hd-desc">设定选定时间节点各排灯的亮度,最小单位为10分钟</p>
    </div>

    <div style="text-align: center">
        <input type="hidden" id="hidtime" value="0" />
        <i class="fa fa-angle-left" aria-hidden="true" style="cursor:pointer; font-size:25px;" onclick="timeback()"></i>
        <input type="text" disabled id="txtTimeline" value="0:00" style="width:50px; border: 0px; text-align: center; width:200px; font-size:30px" />
        <i class="fa fa-angle-right" style="cursor: pointer;font-size:25px;" aria-hidden="true" onclick="timego()"></i>
    </div>
    <div id="container" style="height:400px"></div>
    <div style="margin-left:10px; margin-right:10px; margin-top:5px; margin-bottom: 5px;">
        <input type="range" id="rgTimeline" step="1" max="143" min="0" style="width:100%; " onchange="timelinechange(this)" />
    </div>
    <div style="margin-left:50px;">
        <div style="float:left; margin-right:30px; cursor:pointer;" onclick="add()"><i class="fa fa-plus-square-o"
                aria-hidden="true" style="font-size:30px; color: green"></i></div>
        <div style="float:left; margin-right:30px;cursor:pointer;"><i id="icondelete" class="fa fa-minus-square-o"
                aria-hidden="true" style="font-size:30px; color:grey; "></i> </div>
        <div style="float:left; margin-right:30px; cursor:pointer;" onclick="previoustag()"><i id="iconpre" style="font-size:30px;color: green"
                class="fa fa-angle-double-left"></i></div>
        <div style="float:left; cursor:pointer;margin-right:30px" onclick="nexttag()"><i id="iconnext" style="font-size:30px;color: green"
                class="fa fa-angle-double-right"></i></div>
        <div style="float:left; margin-right:30px; cursor:pointer;" onclick="empty()"><i class="fa fa-trash"
                aria-hidden="true" style="font-size:30px;color: green"></i> </div>
        <div style="float:left; cursor:pointer;" onclick="gobasic()"><i style="font-size:30px;color: green" class="fa fa-cog"></i></div>
    </div>
    <script>
        let XDEFINE =
            ["0:00", "0:10", "0:20", "0:30", "0:40", "0:50",
                "1:00", "1:10", "1:20", "1:30", "1:40", "1:50",
                "2:00", "2:10", "2:20", "2:30", "2:40", "2:50",
                "3:00", "3:10", "3:20", "3:30", "3:40", "3:50",
                "4:00", "4:10", "4:20", "4:30", "4:40", "4:50",
                "5:00", "5:10", "5:20", "5:30", "5:40", "5:50",
                "6:00", "6:10", "6:20", "6:30", "6:40", "6:50",
                "7:00", "7:10", "7:20", "7:30", "7:40", "7:50",
                "8:00", "8:10", "8:20", "8:30", "8:40", "8:50",
                "9:00", "9:10", "9:20", "9:30", "9:40", "9:50",
                "10:00", "10:10", "10:20", "10:30", "10:40", "10:50",
                "11:00", "11:10", "11:20", "11:30", "11:40", "11:50",
                "12:00", "12:10", "12:20", "12:30", "12:40", "12:50",
                "13:00", "13:10", "13:20", "13:30", "13:40", "13:50",
                "14:00", "14:10", "14:20", "14:30", "14:40", "14:50",
                "15:00", "15:10", "15:20", "15:30", "15:40", "15:50",
                "16:00", "16:10", "16:20", "16:30", "16:40", "16:50",
                "17:00", "17:10", "17:20", "17:30", "17:40", "17:50",
                "18:00", "18:10", "18:20", "18:30", "18:40", "18:50",
                "19:00", "19:10", "19:20", "19:30", "19:40", "19:50",
                "20:00", "20:10", "20:20", "20:30", "20:40", "20:50",
                "21:00", "21:10", "21:20", "21:30", "21:40", "21:50",
                "22:00", "22:10", "22:20", "22:30", "22:40", "22:50",
                "23:00", "23:10", "23:20", "23:30", "23:40", "23:50"
            ];

        let l1 = [];
        let l2 = [];
        let l3 = [];
        let l4 = [];
        let l5 = [];
        let l6 = [];
        let l7 = [];

        let tags = "{{tags}}" == "" ? [] : "{{tags}}".split(',');
        let l1val = "{{l1}}" == "" ? [] : "{{l1}}".split(',');
        let l2val = "{{l2}}" == "" ? [] : "{{l2}}".split(',');
        let l3val = "{{l3}}" == "" ? [] : "{{l3}}".split(',');
        let l4val = "{{l4}}" == "" ? [] : "{{l4}}".split(',');
        let l5val = "{{l5}}" == "" ? [] : "{{l5}}".split(',');
        let l6val = "{{l6}}" == "" ? [] : "{{l6}}".split(',');
        let l7val = "{{l7}}" == "" ? [] : "{{l7}}".split(',');

        if (tags.length > 0) {
            tags = tags.map(Number);
        }

        let l1tags = [];
        let l2tags = [];
        let l3tags = [];
        let l4tags = [];
        let l5tags = [];
        let l6tags = [];
        let l7tags = [];

        let has0 = false;
        let has143 = false;
        for (let ta of tags) {
            if (ta == 0) {
                has0 = true;
            } else if (ta == 143) {
                has143 = true;
            }
        }
        if (!has0) {
            tags.splice(0, 0, 0);
            l1val.splice(0, 0, 0);
            l2val.splice(0, 0, 0);
            l3val.splice(0, 0, 0);
            l4val.splice(0, 0, 0);
            l5val.splice(0, 0, 0);
            l6val.splice(0, 0, 0);
            l7val.splice(0, 0, 0);
        }
        if (!has143) {
            tags.push(143);
            l1val.push(0);
            l2val.push(0);
            l3val.push(0);
            l4val.push(0);
            l5val.push(0);
            l6val.push(0);
            l7val.push(0);
        }
        for (let i = 0; i < tags.length; i++) {
            l1tags.push({
                tag: Number(tags[i]),
                tagvalue: Number(l1val[i])
            });
            l2tags.push({
                tag: Number(tags[i]),
                tagvalue: Number(l2val[i])
            });
            l3tags.push({
                tag: Number(tags[i]),
                tagvalue: Number(l3val[i])
            });
            l4tags.push({
                tag: Number(tags[i]),
                tagvalue: Number(l4val[i])
            });
            l5tags.push({
                tag: Number(tags[i]),
                tagvalue: Number(l5val[i])
            });
            l6tags.push({
                tag: Number(tags[i]),
                tagvalue: Number(l6val[i])
            });
            l7tags.push({
                tag: Number(tags[i]),
                tagvalue: Number(l7val[i])
            });
        }
        for (let i = 0; i < 144; i++) {
            let haskey = false;
            let keyval = null;
            let l1keyval = null;
            let l2keyval = null;
            let l3keyval = null;
            let l4keyval = null;
            let l5keyval = null;
            let l6keyval = null;
            let l7keyval = null;
            for (let tag of l1tags) {
                if (tag.tag == i) {
                    haskey = true;
                    keyval = tag.tagvalue;
                }
            }
            for (let j = 0; j < tags.length; j++) {
                if (tags[j] == i) {
                    haskey = true;
                    l1keyval = Number(l1val[j]);
                    l2keyval = Number(l2val[j]);
                    l3keyval = Number(l3val[j]);
                    l4keyval = Number(l4val[j]);
                    l5keyval = Number(l5val[j]);
                    l6keyval = Number(l6val[j]);
                    l7keyval = Number(l7val[j]);
                }
            }
            if (haskey) {
                l1.push(l1keyval);
                l2.push(l2keyval);
                l3.push(l3keyval);
                l4.push(l4keyval);
                l5.push(l5keyval);
                l6.push(l6keyval);
                l7.push(l7keyval);

            } else {
                l1.push(null);
                l2.push(null);
                l3.push(null);
                l4.push(null);
                l5.push(null);
                l6.push(null);
                l7.push(null);
            }
        }
        var chart = Highcharts.chart('container', {
            chart: {
                type: 'spline'
            },
            legend: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: XDEFINE,
                labels: {
                    enabled: true
                },
                gridLineColor: 'grey',
                gridLineWidth: 0.3,
                tickPositions: [0, 24, 48, 72, 96, 114, 143]
            },
            yAxis: {
                labels: {
                    enabled: false
                },
                title: {
                    text: ''
                },
                ceiling: 110,
                tickPositions: [0, 20, 40, 60, 80, 100, 110]
            },
            plotOptions: {
                series: {
                    connectNulls: true,
                    cursor: "pointer"
                }
            },
            series: [{
                name: ' ',
                marker: {
                    symbol: 'circle'
                },
                data: l1
            }, {
                name: ' ',
                marker: {
                    symbol: 'circle'
                },
                data: l2
            }, {
                name: ' ',
                marker: {
                    symbol: 'circle'
                },
                data: l3
            }, {
                name: ' ',
                marker: {
                    symbol: 'circle'
                },
                data: l4
            }, {
                name: ' ',
                marker: {
                    symbol: 'circle'
                },
                data: l5
            }, {
                name: ' ',
                marker: {
                    symbol: 'circle'
                },
                data: l6
            }, {
                name: ' ',
                marker: {
                    symbol: 'circle'
                },
                data: l7
            }]
        });
        $(".highcharts-credits").remove();

        function emptychart() {
            tags = [0, 143];
            l1 = [];
            l2 = [];
            l3 = [];
            l4 = [];
            l5 = [];
            l6 = [];
            l7 = [];

            for (let i = 0; i < 144; i++) {
                l1.push(0);
                l2.push(0);
                l3.push(0);
                l4.push(0);
                l5.push(0);
                l6.push(0);
                l7.push(0);
            }
            chart = Highcharts.chart('container', {
                chart: {
                    type: 'spline'
                },
                legend: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                title: {
                    text: ''
                },
                xAxis: {
                    categories: XDEFINE,
                    labels: {
                        enabled: true
                    },
                    gridLineColor: 'grey',
                    gridLineWidth: 0.3,
                    tickPositions: [0, 24, 48, 72, 96, 114, 143]
                },
                yAxis: {
                    labels: {
                        enabled: false
                    },
                    title: {
                        text: ''
                    },
                    ceiling: 110,
                    tickPositions: [0, 20, 40, 60, 80, 100, 110]
                },
                plotOptions: {
                    series: {
                        connectNulls: true,
                        cursor: "pointer"
                    }
                },
                series: [{
                    name: ' ',
                    marker: {
                        symbol: 'circle'
                    },
                    data: l1
                }, {
                    name: ' ',
                    marker: {
                        symbol: 'circle'
                    },
                    data: l2
                }, {
                    name: ' ',
                    marker: {
                        symbol: 'circle'
                    },
                    data: l3
                }, {
                    name: ' ',
                    marker: {
                        symbol: 'circle'
                    },
                    data: l4
                }, {
                    name: ' ',
                    marker: {
                        symbol: 'circle'
                    },
                    data: l5
                }, {
                    name: ' ',
                    marker: {
                        symbol: 'circle'
                    },
                    data: l6
                }, {
                    name: ' ',
                    marker: {
                        symbol: 'circle'
                    },
                    data: l7
                }]
            });

            let currentindex = getcurrenttimeindex();
            chart.xAxis[0].addPlotLine({
                value: currentindex,
                width: 2,
                color: "green",
                id: "currentplot"
            });
            $(".highcharts-credits").remove();
        }
        function refreshchart(deletetag) {
            if (deletetag == 0 || deletetag == 143) {
                l1[deletetag] = 0;
                l2[deletetag] = 0;
                l3[deletetag] = 0;
                l4[deletetag] = 0;
                l5[deletetag] = 0;
                l6[deletetag] = 0;
                l7[deletetag] = 0;
            } else {
                let index = tags.indexOf(deletetag);
                if (index > -1) {
                    tags.splice(index, 1);
                }
                l1.splice(deletetag, 1, null);
                l2.splice(deletetag, 1, null);
                l3.splice(deletetag, 1, null);
                l4.splice(deletetag, 1, null);
                l5.splice(deletetag, 1, null);
                l6.splice(deletetag, 1, null);
                l7.splice(deletetag, 1, null);
            }



            chart = Highcharts.chart('container', {
                chart: {
                    type: 'spline'
                },
                legend: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                title: {
                    text: ''
                },
                xAxis: {
                    categories: XDEFINE,
                    labels: {
                        enabled: true
                    },
                    gridLineColor: 'grey',
                    gridLineWidth: 0.3,
                    tickPositions: [0, 24, 48, 72, 96, 114, 143]
                },
                yAxis: {
                    labels: {
                        enabled: false
                    },
                    title: {
                        text: ''
                    },
                    ceiling: 110,
                    tickPositions: [0, 20, 40, 60, 80, 100, 110]
                },
                plotOptions: {
                    series: {
                        connectNulls: true,
                        cursor: "pointer"
                    }
                },
                series: [{
                    name: ' ',
                    marker: {
                        symbol: 'circle'
                    },
                    data: l1
                }, {
                    name: ' ',
                    marker: {
                        symbol: 'circle'
                    },
                    data: l2
                }, {
                    name: ' ',
                    marker: {
                        symbol: 'circle'
                    },
                    data: l3
                }, {
                    name: ' ',
                    marker: {
                        symbol: 'circle'
                    },
                    data: l4
                }, {
                    name: ' ',
                    marker: {
                        symbol: 'circle'
                    },
                    data: l5
                }, {
                    name: ' ',
                    marker: {
                        symbol: 'circle'
                    },
                    data: l6
                }, {
                    name: ' ',
                    marker: {
                        symbol: 'circle'
                    },
                    data: l7
                }]
            });

            let currentindex = getcurrenttimeindex();
            chart.xAxis[0].addPlotLine({
                value: currentindex,
                width: 2,
                color: "green",
                id: "currentplot"
            });
            $(".highcharts-credits").remove();
        }
        function checklineexist(tagval) {
            if (chart.xAxis && chart.xAxis.length > 0) {
                chart.xAxis[0].removePlotLine("newplot");
            }

            let exist = false;
            for (let tag of tags) {
                if (Number(tag) == tagval) {
                    exist = true;
                }
            }
            let linecolor = "orange";
            if (exist) {
                $("#icondelete").attr("style", "color: green;font-size:30px; ");
                $("#icondelete").attr("onclick", "remove();");
                linecolor = "blue";
            } else {
                $("#icondelete").attr("style", "color: grey;font-size:30px; ");
                $("#icondelete").removeAttr("onclick");
                linecolor = "orange";
            }

            $("#hidtime").val(tagval);
            chart.xAxis[0].addPlotLine({
                value: tagval,
                width: 2,
                color: linecolor,
                id: "newplot"
            });

        }
        function timelinechange(val) {
            let tagvalue = $(val).val();
            $("#txtTimeline").val(XDEFINE[tagvalue]);
            checklineexist(tagvalue);
        }
        function timeback() {
            let current = parseInt($("#hidtime").val());
            current = current - 1;
            if (current < 0) {
                current = 0;
            }
            $("#txtTimeline").val(XDEFINE[current]);
            $("#rgTimeline").val(current);
            checklineexist(current);
        }
        function timego() {
            let current = parseInt($("#hidtime").val());
            current = current + 1;
            if (current > 143) {
                current = 143;
            }
            $("#txtTimeline").val(XDEFINE[current]);
            $("#rgTimeline").val(current);
            checklineexist(current);

        }
        function add() {
            window.location = "https://open.weixin.qq.com/connect/oauth2/authorize?appid={{appid}}&redirect_uri=http://{{domain}}/repeatdetail&response_type=code&scope=snsapi_userinfo&state=" + $("#hidtime").val() + "#wechat_redirect";
        }
        function remove() {
            let openid = "{{userinfo.openid}}";
            let delinfo = {
                openid: openid,
                tag: $("#hidtime").val()
            }
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/deletetag",
                data: JSON.stringify(delinfo),
                dataType: 'json',
                success: (res) => {
                    alert(res.result == true ? "删除成功" : "删除失败");
                    refreshchart($("#hidtime").val());
                    $("#icondelete").attr("style", "color: grey;font-size:30px; ");
                    $("#icondelete").removeAttr("onclick");
                }
            });
        }
        function empty() {
            let openid = "{{userinfo.openid}}";
            let emptyinfo = {
                openid: openid
            }
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/emptytags",
                data: JSON.stringify(emptyinfo),
                dataType: 'json',
                success: (res) => {
                    alert("删除成功");
                    emptychart();
                }
            });
        }
        function getcurrenttime() {
            var date = new Date();
            var h = date.getHours();
            var m = date.getMinutes();
            let timemin = 0;
            let timehour = h;
            if (m == 0) {
                timemin = 0;
            }
            else if (m >= 0 && m < 10) {
                timemin = 10;
            } else if (m >= 10 && m < 20) {
                timemin = 20;
            } else if (m >= 20 && m < 30) {
                timemin = 30;
            } else if (m >= 30 && m < 40) {
                timemin = 40;
            } else if (m >= 40 && m < 50) {
                timemin = 50;
            } else if (m >= 50 && m < 60) {
                timehour = timehour + 1;
                if (timehour > 23) {
                    timehour = 0;
                }
                timemin = 0;
            }

            let timeres = timehour.toString();
            timeres = timeres + ":";
            timeres = timeres + (timemin.toString().length == 1 ? "0" + timemin.toString() : timemin.toString());
            return timeres;
        }
        function getcurrenttimeindex() {
            let timeres = getcurrenttime();
            let currentindex = 0;
            for (let i = 0; i < 144; i++) {
                if (timeres == XDEFINE[i]) {
                    currentindex = i;
                }
            }
            return currentindex;
        }
        function gobasic() {
            window.location = "https://open.weixin.qq.com/connect/oauth2/authorize?appid={{appid}}&redirect_uri=http://{{domain}}/basic&response_type=code&scope=snsapi_userinfo&state=0#wechat_redirect";
        }
        function nexttag() {
            let currentindex = $("#hidtime").val();
            let nextval = 0;
            if (currentindex == 143) {
                nextval = 0;
            } else {
                for (let tag of tags) {
                    if (tag > currentindex) {
                        nextval = tag;
                        break;
                    }
                }
            }

            $("#txtTimeline").val(XDEFINE[nextval]);
            $("#rgTimeline").val(nextval);
            $("#txtTimeline").val(XDEFINE[nextval]);
            checklineexist(nextval);
        }
        function previoustag() {
            let currentindex = $("#hidtime").val();
            let nextval = 0;
            if (currentindex == 0) {
                nextval = 143;
            } else {
                for (let i = 0; i < tags.length; i++) {
                    if (tags[i] == currentindex) {
                        nextval = tags[i - 1];
                        break;
                    }
                }
            }

            $("#txtTimeline").val(XDEFINE[nextval]);
            $("#rgTimeline").val(nextval);
            $("#txtTimeline").val(XDEFINE[nextval]);
            checklineexist(nextval);
        }

        $(function () {
            let timeres = getcurrenttime();
            $("#txtTimeline").val(timeres);
            let currentindex = getcurrenttimeindex();
            $("#hidtime").val(currentindex);
            $("#rgTimeline").val(currentindex);

            let isnow = false;
            for (let tag of tags) {
                if (tag == currentindex) {
                    isnow = true;
                    break;
                }
            }
            //console.log('here it is', isnow,currentindex);            
            let linecolor = "green";
            if (isnow) {
                linecolor = "blue";
                $("#icondelete").attr("style", "color: green;font-size:30px; ");
                $("#icondelete").attr("onclick", "remove();");
            }

            chart.xAxis[0].addPlotLine({
                value: currentindex,
                width: 2,
                color: linecolor,
                id: "currentplot"
            });
        });
    </script>
</body>

</html>