<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>扫码匹配</title>
        <link rel='stylesheet' type="text/css" href="/public/css/index.css" />        
        <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <link href="/public/css/sideslip.css" rel="stylesheet" />
    </head>
    <body ontouchstart>
        <script type="text/javascript">
            let signature = '{{ machineinfo.signature }}';
            let nonceStr = '{{ machineinfo.noncestr }}';
            let timestamp = '{{ machineinfo.timestamp }}';
            let appId = '{{ machineinfo.appId }}';
            let jsapi_ticket = '{{ machineinfo.jsapi_ticket }}';
        </script>
        <script src="/public/js/scan.js"></script>
        <div>

            <div class="weui_msg">
                <div class="weui_icon_area"><i id="iicon" class="weui_icon_waiting weui_icon_msg"></i></div>
                <div class="weui_text_area">
                    <h2 class="weui_msg_title"><span id="spflag">等待结束</span></h2>
                    <span id="spresult"></span>
                </div>
            </div>
            <div class="weui_btn_area">
                <input data-domain='{{domain}}' data-appid='{{appid}}' type="button" class="weui_btn weui_btn_primary" id="btnBinded" value="我的设备" />
                <input type="hidden" id="hidopenid" value= '{{userinfo.openid}}' />
            </div>

        </div>
        <link rel="stylesheet" type="text/ccss" href="https://res.wx.qq.com/open/libs/weui/0.4.3/weui.min.css"/>
        <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    </body>
</html>