<html>
    <head>
        <title>扫码匹配</title>
        <link rel='stylesheet' type="text/css" href="/public/css/index.css" />        
        <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    </head>
    <body>
        <script type="text/javascript">
            let signature = '{{ machineinfo.signature }}';
            let nonceStr = '{{ machineinfo.noncestr }}';
            let timestamp = '{{ machineinfo.timestamp }}';
            let appId = '{{ machineinfo.appId }}';
            let jsapi_ticket = '{{ machineinfo.jsapi_ticket }}';
        </script>
        <script src="/public/js/scan.js"></script>
        <div>
            <p>用户信息</p>
            <hr />
            <table>
                <tr>
                    <th>openid</th>
                    <th>微信名</th>
                </tr>
                <tr>
                    <td>{{ userinfo.openid }}</td>
                    <td>{{ userinfo.nickname }}</td>
                </tr>
            </table>
            <p>匹配设备</p>
            <hr/>
            <table>
                <tr>
                    <th>设备名</th>
                    <th>设备地址</th>
                </tr>
            </table>
            <table id="tbContent"></table>
        </div>
    </body>
</html>