<html>
    <head>
        <title>一键配置</title>
        <link rel='stylesheet' type="text/css" href="/public/css/index.css" />        
        <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    </head>
    <body>
        <script type="text/javascript">
            let signature = '{{ signature }}';
            let nonceStr = '{{ noncestr }}';
            let timestamp = '{{ timestamp }}';
            let appId = '{{ appId }}';
            let jsapi_ticket = '{{ jsapi_ticket }}';
        </script>
        <script src="/public/js/smartconfig.js"></script>
        <div>
            <span id="spresult"></span>
        </div>
    </body>
</html>